<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
	<form action="/create_team" method="POST">
		Room Name: <input name="room_name" type="text" placeholder="i.e. John's Room"><br>
		Max Size: <input name="max_size" type="number" placeholder="i.e. 6"><br>
		Min Size: <input name="min_size" type="number" placeholder="i.e. 1"><br>
		Passphrase: <input name="passphrase" type="text"><br>
		Repeat Passphrase: <input type="text"><br>
		Wifi Network Name: <input name="wifi_network_name" type="text"><br>
		<input type="submit" value="Submit">
    </form>
</body>
</html>
