<div id="songs">
	Welcome to {{ room_name }}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<br>

	Name of song: <input name="song_name" id="song_name" type="text"><br>
	OR
	YouTube Link: <input name="youtube_link" id="youtube_link" type="text"><br>

	<input name="room_name" id="room_name" type="hidden" value="{{ room_name }}"><br>
	<input type="submit" value="Submit" onClick="addSong()">
	<h2>Currently Playing</h2>
		{% if currently_playing|length > 0 %}
			{{ currently_playing }}
		{% else %}
			<p> No song currently playing! </p>
		{% endif %}		
	<h2>Song Queue</h2>
	{% if song_queue|length > 0 %}
		<ul>
			{% for song in song_queue %}
				<li>{{ song }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No songs on Queue!</p>
	{% endif %}
</div>
<script>

function addSong() {
	var song_name = document.getElementById("song_name").value;
	var youtube_link = document.getElementById("youtube_link").value;
	var room_name = document.getElementById("room_name").value;
    $.ajax({
    	type:"POST",
    	url:"/add_song",
		data:{
    		'song_name': song_name,
    		'youtube_link': youtube_link,
    		'room_name': room_name
    	},
    	success: function (response) {
    		$("#songs").html(response);
    	}, error: function (response) {
    		$("#songs").html(response);
    	}
	});
}

</script>
